<nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Otrails</a>
      <ul class="nav">
        <li><a href="/">Weather</a></li>
        <li><a href="http://www.hiking-for-her.com/hikingtenessentials.html" target="blank">Hiking Tips</a></li>
      </ul>
    </div>
  </nav>
