<div class="inputs-holder">
 <div class="trailsSearch">
          <form action="/search" method="get">
          <div class="input-field">
          <input id="home-search" type="search" spellcheck="true"  name="q"
          placeholder="Enter a city, park, trail..." data-reactid="3" required>
          <label for="search"></label>
          <div class="row col s12">
          <button class="btn btn-primary " id="destSubmitBtn" type="submit">Search</button>
          </form>
        </div>
    </div>
  </div>
