// Place all the styles related to the hikes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.nav-wrapper {
 background: #2e7d32;
}
.nav {
 color:white;
 list-style:none;
 margin:0;
 padding:30px;
}

ul li {
 float: right;
 margin-left: 10px;
 text-decoration: none;
}

a.brand-logo {
  // font-family: 'Ribeye', cursive;
 font-family: 'Abril Fatface', cursive;
 color:white;
 font-size: 40px;
}

.brand-logo {
 position: absolute;
 top: 9px;
 margin: auto;
 color: #fff;
 display: inline-block;
 font-size: 2.1rem;
 padding: 0;
 white-space: nowrap;
 margin-left: 16px;
}

.trailsSearch {
 margin: 0 auto;
 overflow:hidden;
 font-family:'Sumana', serif;
}

 body {
 background: url(https://source.unsplash.com/user/axjimenez89/likes/1600x900);
}

.inputs-holder{
 background: rgba(0, 0, 0, 0.6);
 display: block;
 width: 295px;
 font-size: 18px;
 line-height: 40px;
 position: relative;
 padding: 0px 10px 0px 9px;
 border-radius: 9px 10px 10px 10px;
}
.container {
 margin: 165px auto;
 max-width: 150px;
 width: 50%;
}

#home-search{
 border: 2px solid #000;
 height: 36px;
 width: 204px;
 background: #f5f5f5;
 font-color: #424242;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  body.welcome {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}


