<!DOCTYPE html>
<html>
  <head>
    <title>Otrails</title>
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Ribeye" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amiko:400,600" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
